@import 'settings/settings';
@import 'views/home';
@import 'views/details';
@import 'button';
@import 'components/loader';
@import 'components/details/inputs';
@import 'components/details/image-gallery';
@import 'components/navigation';

body {
  min-height: 100vh;
  color: $black;
  background: $white;
  font-family: $font-primary;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  min-height: 100vh;
}
.main {
  margin-left: 40px;
  width: 100%;
}
.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 16px 20px;
  @media (min-width: 480px) {
    padding: 20px 32px;
  }
}
.clickable {
  cursor: pointer;
}
.cursor-grab {
  cursor: grab;
}
.error {
  border: 1px solid #eb5533;
}