.home-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;

  &-title {
    font-size: 20px;
    @media (min-width: 480px) {
      font-size: 24px;
    }
  }
}